<div class="bg-stone-900">
<section
  class="container mx-auto overflow-hidden bg-[url(https://www.chambersforsport.com/wp-content/uploads/2022/11/togheter-min-scaled.jpg)] bg-cover bg-top-center bg-no-repeat"
>
  <div class="bg-black/25 p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="max-w-lg text-center sm:text-left">
      <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">
        Chambers for sport store. T-shirts, Hoodies & accessories.
      </h2>

      <p
        class="hidden max-w-md text-white/90 md:mt-6 md:block md:text-lg md:leading-relaxed"
      >
       Get All you need online
      </p>

      <div class="mt-4 sm:mt-8">
      <%= link_to "Order Now", products_url, class: "inline-flex items-center bg-red-600 px-8 py-3 text-white shadow-lg transition hover:bg-red-700 focus:outline-none focus:ring"  %>
      </div>
    </div>
  </div>
</section>


 <!-- services area start -->
        <div class="service-area mb-65 pt-100 hidden">
            <div class="container columns-1  sm:columns-3 mx-auto"> 
                <div class=" ">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="service__wrapper text-center">
                            <div class="service">
                                <div class="service__thumb service4 mb-30">
                                    <i class="fa-solid fa-truck-fast text-center display-4 mt-2"></i>
                                </div>
                                <div class="service__content">
                                    <h4 class="mb-25">Worldwide Shipping</h4>
                                    <p classname="hidden">1-3 days shipping within the UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="service__wrapper text-center">
                            <div class="service">
                                <div class="service__thumb service4 mb-30">
                                    <i class="fa-solid fa-headset display-4 mt-2"></i>
                                </div>
                                <div class="service__content">
                                    <h4 class="mb-25">Online Support  24/7</h4>
                                    <p>Email us or reach out on WhatsApp</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="service__wrapper text-center">
                            <div class="service">
                                <div class="service__thumb service4 mb-30">
                                  <i class="fa-solid fa-credit-card mt-2 display-4"></i>
                                </div>
                                <div class="service__content">
                                    <h4 class="mb-25">Money Return Guarantee</h4>
                                    <p>Easy return and 100% money back in 15 days.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- services area end --> 



        <!-- Cards start -->
<section>
         <div class="container mx-auto pt-4">
             <div class="md:columns-2 columns-1 mb-2">
                 <div class="">
<div
  class="relative bg-[url(https://www.chambersforsport.com/wp-content/uploads/2022/11/3kids-scaled.jpg)] bg-cover bg-center bg-no-repeat px-4 pb-4 pt-56 sm:px-6 sm:pb-6 sm:pt-64 hover:opacity-75 store_cards"
>
  <span class="absolute inset-0 bg-gray-900/25"></span>

  <strong
    class="absolute top-4 left-0 bg-red-600 py-1.5 px-3 text-xs uppercase tracking-wider text-white"
  >
    New
  </strong>

  <div class="relative text-center">
    <h3
      class="text-2xl font-bold uppercase tracking-wider text-white sm:text-3xl"
    >
      Chambers clothing for
      <span
        class="relative inline-block before:absolute before:inset-x-0 before:bottom-0.5 before:h-2 before:bg-red-600"
      >
        <span class="relative"> adults </span>
      </span>
    </h3>

    <p class="mt-1 text-white/95">Check our recent restocks.</p>
          <%= link_to "Shop Now", products_url, class: "mt-2 inline-flex items-center bg-red-600 px-8 py-3 text-white shadow-lg transition hover:bg-red-700 focus:outline-none focus:ring"  %>
  </div>
</div>

                 </div> 
                <div class=" mt-2">
<div
  class="relative bg-[url(https://www.chambersforsport.com/wp-content/uploads/2022/11/Outside-shot-with-Dwain-min-scaled.jpg)] bg-cover bg-center bg-no-repeat px-4 pb-4 pt-56 sm:px-6 sm:pb-6 sm:pt-64 hover:opacity-75"
>
  <span class="absolute inset-0 bg-gray-900/25"></span>

  <strong
    class="absolute top-4 left-0 bg-red-600 py-1.5 px-3 text-xs uppercase tracking-wider text-white"
  >
    New
  </strong>

  <div class="relative text-center">
    <h3
      class="text-2xl font-bold uppercase tracking-wider text-white sm:text-3xl"
    >
      Chambers clothing for 
      <span
        class="relative inline-block before:absolute before:inset-x-0 before:bottom-0.5 before:h-2 before:bg-red-600"
      >
        <span class="relative"> Kids </span>
      </span>
    </h3>

    <p class="mt-1 text-white/95">check our latest products</p>

     <%= link_to "Shop Now", products_url, class: "mt-2 inline-flex items-center bg-red-600 px-8 py-3 text-white shadow-lg transition hover:bg-red-700 focus:outline-none focus:ring"  %>

  </div>
</div>

                </div>
             </div>
         </div> 
</section>
        <!--Cards end -->

<section class="">
  <div class=" w-full container mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:items-stretch"
    >
      <div class="flex items-center rounded bg-red-600 p-8">
        <div class="mx-auto text-center lg:text-left">
          <h2 class="text-2xl font-bold">T-shirts & Hoodies</h2>

          <p class="mt-4 max-w-[45ch] text-sm text-white">
            New arrivals kids section.
          </p>

          <a
            href="/products"
            class="mt-6 inline-block rounded bg-black px-6 py-3 text-sm text-white"
          >
            View the Range
          </a>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 lg:col-span-2 lg:grid-cols-3 lg:py-12">
        <a href="/products" class="block">
          <img
            alt="Red T-shirt"
            src="https://www.chambersforsport.com/wp-content/uploads/2022/11/T-shirt-R.jpg"
            class="aspect-square w-full rounded object-cover hover:opacity-75"
          />

          <div class="mt-2">
            <h3 class="font-medium text-white">Fire Red T-shirt Kids Size</h3>

            <p class="mt-1 text-sm text-white">£20.99</p>
          </div>
        </a>

        <a href="https://www.chambersforsport.com/product/jet-black-hoodie-kids-size/" class="block">
          <img
            alt="Black Hoodies"
            src="https://www.chambersforsport.com/wp-content/uploads/2022/11/Jet-Black-Hoodies-Kids.jpg"
            class="aspect-square w-full rounded object-cover hover:opacity-75"
          />

          <div class="mt-2">
            <h3 class="font-medium text-white">Jet Black Hoodie Kids Size</h3>

            <p class="mt-1 text-sm text-white">£ 24.99</p>
          </div>
        </a>

        <a href="/products" class="block">
          <img
            alt="Black T-shirt"
            src="https://www.chambersforsport.com/wp-content/uploads/2022/11/B-t-shirt-3.jpg"
            class="aspect-square w-full rounded object-cover hover:opacity-75"
          />

          <div class="mt-2">
            <h3 class="font-medium text-white">Jet Black T-shirt Kids Size</h3>

            <p class="mt-1 text-sm text-white">£ 20.99</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

</div>
