<nav class="">
    <div class="px-16 py-2 menu">
        <div>
        <%= image_tag "logo.png", class:"h-20 w-auto" %>
        </div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/store">cfs</a></li>
                <li><a href="/store">dwain</a></li>
                <li><a href="/store">dcpa</a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</nav>